.ChatInput {
	z-index: 10;
	width: 100%;
	height: 62px;
	background-color: #1e2428;
	filter: drop-shadow(-1px 0 1px #222);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}

.ChatInput input {
	width: 90%;
	height: 68%;
	padding: 0 1rem;
	border-radius: 3rem;
	outline: none;
	border: none;
	background-color: #33383b;
	caret-color: var(--white);
	color: var(--white);
	font-size: 15px;
}

.ChatInput input::placeholder {
	font-size: 15px;
	font-weight: 500;
	color: #b1b3b5;
	opacity: 0.6;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
