.Overlay {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 100%;
	background-color: #131c21;
	transition: all ease-in-out 300ms;
	z-index: 999;
	display: flex;
	flex-direction: column;
}

header {
	background-color: #323739;
	height: 140px;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 2rem;
	opacity: 1;
	transition: opacity linear 100ms;
}

.toggler {
	position: absolute;
	left: 23px;
	top: 4rem;
}

.show {
	width: 100%;
}

.fade {
	opacity: 0;
}
